.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 0 25px;
  background: $purple-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  &_bgorange {
    background: $orange-color;
  }
}
