.sidepanel {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 340px;
  z-index: 3;
  &__divider {
    height: 70px;
    width: 2px;
    background: #ffffff;
    transition: 0.6s all;
  }
  &__text {
    height: 150px;
    width: 25px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    transition: 0.6s all;
    span {
      display: block;
      transform: rotate(-90deg) translate(-60px, -64px);
      width: 150px;
    }
  }
}
