.promo {
  min-height: 100vh;
  position: relative;
  background: url("../img/my_main_bg.jpg") no-repeat 50% / cover;
  padding-top: 200px;
  &__wrapper {
    display: grid;
    justify-content: end;
  }
  &__title {
    margin-top: 8px;
    width: 592px;
  }
  &__subtitle {
    position: relative;
    padding-left: 10px;
    z-index: 2;
    @include circle;
  }
  &__btns {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 248px;
  }
  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}
