.hamburger {
  position: fixed;
  top: 20px;
  right: 30px;
  cursor: pointer;
  height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
  span {
    display: block;
    width: 30px;
    height: 3px;
    background: #ffffff;
    transition: 0.6s all;
  }
  span.long {
    width: 36px;
  }
}
